.wrapper {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
}

.wrapper__headerup {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
}
